
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 top: 0;
 z-index: 99;
 width: 100%;
 padding: 16px;
  background-color: aliceblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 70px;
}
#ham{
  display: none;
 }
 nav ul li{
  cursor: pointer;
 }

#navMenu{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
nav>a{
  cursor: default;
  font-weight: 800;
  letter-spacing: 1.5px;
}
li a{
  color:#494747;
  transition: 0.3s color ease;
}

 li a:hover{
  color: rgb(217, 46, 86);
 }  
 #home-left{
    margin-top:0;
 }

 

 @media (max-width:993px){
 
  #navMenu{
    font-size: 22px;
           position: fixed;
           right: -100%;
           top:60px;
           gap: 0;
           flex-direction: column;
           background-color: #262626 ;
           width: 100%;
           text-align: center;
           transition: 0.3s;
           border-bottom-left-radius: 2px;
           border-bottom-right-radius: 2px;

         }
         #navMenu li:last-child{
          display: none;
         }
         #navMenu li{
          margin: 32px 0;
         }

         #navMenu li a{
         color: white;
         }
         #navMenu.active{
          right: 0;
         }
         #ham{
             display: block;
         }
         #HomeSec{
             flex-direction: column;
             justify-content: center;
         }
         #Home-left{
text-align: center;
}   
#right {
  width: 100%;
}    
#services{
    flex-direction: column;
   align-items: center;
   
}
#services #card{
    width: 50%;
}
#GetStarted{
    display: none;
}
 }



 #dropdown ul li {
 
  padding: 25px;
  margin-bottom: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.407);
  height: 60px;
  
 }
 #dropdown-ul {
 
  width: 100%;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: black;
  color: white;
  z-index: 99;
  padding: 10px;
  text-align: center;
  overflow: hidden;
 transition: 0.3s;
}
#dropdown-ul.active{
  left:0;
}
#Home-img {
  animation: moveLeftRight 5s ease infinite; /* Apply the animation to your image for 5 seconds */
}
@keyframes moveLeftRight {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px);
  }
  100% {
      transform: translateX(0);
  }
  
}
 #ServicesHeader{
    font-family: Secular One;
font-size: 128px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 16px;
background: linear-gradient(180deg, rgba(12, 7, 255, 0.57) 6.77%, rgba(12, 7, 255, 0.45) 62.5%, rgba(12, 7, 255, 0.00) 88.02%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    
}

#services{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}


#card{
    position: relative;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 600px;
    border-radius: 45px;
    border: 3px solid #FFF;
    background: #FDF8F8;
    box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#card h2{
    margin-top: 25px;
    color: #2621FF;
text-align: center;
font-family: Inter;

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 3.75px;
}
#card p{
    max-height: 256px;
    padding: 0 8px;
    margin-top: 25px;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 3px;
}
#learn{
    position: absolute;
    bottom: 15px;
    margin-top: 15px;
    color: #FFF;
padding: 16px 24px;
text-align: center;
font-family: Britannic Bold;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 5px;
border-radius: 28px;
background: #DF3B5C;
border: 1px solid #9d4254 ;
}
@media (max-width:757px){
#ServicesHeader{
    text-align: center;
    font-size: 60px;
}
#services p{
    font-size: 14px;
}
#services a{
    font-size: 20px;
    padding: 8px 8px;
}
#card{
   width: 90%;

}}
footer{
    margin-top: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #333;
    gap: 20px;
   
}
footer a{
    transition: 0.3s all ease;
}
footer a:hover{
    transform: scale(1.2);
    transform: translatey(-5px);
}

/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
*,
html {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
} */

/* .process-row {
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.traineeship .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 267px;
    margin: 30px 8px 50px;
    background-color: #242835;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden;
}
.animate-from-bottom__0 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.animate-from-bottom__1 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}
.animate-from-bottom__2 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.animate-from-bottom__3 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s
}
.animate-from-bottom__4 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s
}
.traineeship .activity .relative-block {
    width: 100%;
    min-height: 350px;
}
@-webkit-keyframes from-left {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes from-left {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
.relative-block {
    position: relative;
}
.activity-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}
.activity-icon img {
    width: 70%;
    float: right;
}
.traineeship .inactive {
    padding: 30px;
}
.traineeship .inactive .title {
    border-bottom: 3px solid #f5ca2a;
    padding-bottom: 14px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}
.traineeship .activity .active {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    min-height: 100%;
    padding: 25px 30px 50px;
}
.traineeship .activity .active .title {
    color: #1f1f1f;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}
.traineeship .activity .active .sub-title {
    margin-top: 10px;
    color: #616161;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}
.traineeship .activity .active .ul {
    margin-bottom: 45px;
    margin-top: 10px;
}
.traineeship .activity .active .li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    color: #616161;
    font-size: 16px;
    line-height: 26px;
}
.traineeship .activity .active .li:before {
    position: absolute;
    content: "\f00c";
    color: #e2b921;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.6em;
    width: 22px;
}
.traineeship .activity:hover {
    width: 558px;
    background-color: #fff;
}
.traineeship .activity:hover .inactive {
    display: none;
}
.traineeship .activity:hover .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
} */








